/Assignment2/server/database/*
/Assignment2/server/saved_features_recom.txt
/Assignment2/server/neighbor_list_recom.pickle
/Assignment2/server/imagenet/
/Assignment2/server/uploads/
.idea
/Assignment2/server/static/result/
